  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#index-banner {
  background-color:  #5f5f5f;
}

footer.page-footer,
footer.page-footer.footer-copyright {
  background-color: #5f5f5f;
}

