<!DOCTYPE html>
<html lang="en">
<!--[if gt IE 9]><!--><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US"><!--<![endif]-->
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% if page.title %}{{ page.title }} {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} {{ site.data.global.title }}{% else %}{{ site.data.global.title }} {{ site.data.global.description }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.global.title }}  {{ site.data.global.description }}" href="{{ site.data.global.url }}/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="{{ site.data.global.title }}  {{ site.data.global.description }}" href="{{ site.data.global.url }}/atom.xml">

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
    <meta name="application-name" content="{{ site.data.global.title }}  {{ site.data.global.description }}">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

<main>
    <div class="section no-pad-bot ilike-blue-container" id="index-banner">
        <div class="container">
            <div class="row">
                <h1 class="right">{{ site.data.global.title }}</h1>
                <div class="col s3">
                    <img src="/assets/lobster_alpha.svg" alt="Lobster" id="lobster">
                </div>
                <div class="col s9">
                    <h5 class="right">{{ site.data.global.description }}</h5>
                </div>
            </div>
        </div>
    </div>

